.venv/
.venv-test/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
*.venv
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
.pytest_cache/
dist/
build/
.DS_Store
.idea/
.vscode/
.pipcheck/
predictions.csv
